nav {
    display: flex;
    flex: 1 1 auto;
    padding: 0 $spacing-s;
 ul {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    li {
        //padding: $spacing-s;
        //margin: $spacing-s;
        &:first-child {
            //padding-left:0;
            margin-left: 0;
        }
        a {
            text-decoration: none;
    border-bottom: 2px solid $primary-colour;
    padding-bottom: 8px;
    transition: linear padding 0.5s;
    color: $secondary-colour;
            &:hover {
                padding-bottom: 1px;

            }

        }
    }
    }
}

